APP_TITLE=SushiRoomBot
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=SushiRoomDB
POSTGRES_USER=SushiRoom
POSTGRES_PASSWORD=SushiRoom
DATABASE_URL=postgresql+asyncpg://SushiRoom:SushiRoom@127.0.0.1:5432/SushiRoomDB
API_URL=http://127.0.0.1:8000